In [23]:
import pandas as pd

In [24]:
import numpy as np

In [25]:
import requests

In [15]:
PATH = !pwd
PATH

['/Users/she/estimate-model-playground/notebooks']

In [13]:
r = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [18]:
with open(PATH[0] + '/iris.data', 'w') as f:
    f.write(r.text)

In [27]:
df = pd.read_csv('iris.data', names=['sepal_len', 'sepal_width', 'petal_len', 'petal_width', 'class'])

In [28]:
df.head

<bound method NDFrame.head of      sepal_len  sepal_width  petal_len  petal_width           class
0          5.1          3.5        1.4          0.2     Iris-setosa
1          4.9          3.0        1.4          0.2     Iris-setosa
2          4.7          3.2        1.3          0.2     Iris-setosa
3          4.6          3.1        1.5          0.2     Iris-setosa
4          5.0          3.6        1.4          0.2     Iris-setosa
..         ...          ...        ...          ...             ...
145        6.7          3.0        5.2          2.3  Iris-virginica
146        6.3          2.5        5.0          1.9  Iris-virginica
147        6.5          3.0        5.2          2.0  Iris-virginica
148        6.2          3.4        5.4          2.3  Iris-virginica
149        5.9          3.0        5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [31]:
df['sepal_len']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_len, Length: 150, dtype: float64

In [38]:
df.iloc[:3, :4]

   sepal_len  sepal_width  petal_len  petal_width
0        5.1          3.5        1.4          0.2
1        4.9          3.0        1.4          0.2
2        4.7          3.2        1.3          0.2

In [41]:
df.iloc[:3, [x for x in df.columns if 'width' in x]]

IndexError: .iloc requires numeric indexers, got ['sepal_width' 'petal_width']

In [42]:
[x for x in df.columns if 'width' in x]

['sepal_width', 'petal_width']

In [43]:
df['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [54]:
df[df['class'] == 'Iris-setosa'].count()
df.count()

sepal_len      150
sepal_width    150
petal_len      150
petal_width    150
class          150
dtype: int64

In [55]:
v = df[df['class'] == 'Iris-virginica'].reset_index(drop=True)

In [57]:
v0 = df[df['class'] == 'Iris-virginica']
v1 = v0.reset_index(drop=True)
print(v0, v1)

     sepal_len  sepal_width  petal_len  petal_width           class
100        6.3          3.3        6.0          2.5  Iris-virginica
101        5.8          2.7        5.1          1.9  Iris-virginica
102        7.1          3.0        5.9          2.1  Iris-virginica
103        6.3          2.9        5.6          1.8  Iris-virginica
104        6.5          3.0        5.8          2.2  Iris-virginica
105        7.6          3.0        6.6          2.1  Iris-virginica
106        4.9          2.5        4.5          1.7  Iris-virginica
107        7.3          2.9        6.3          1.8  Iris-virginica
108        6.7          2.5        5.8          1.8  Iris-virginica
109        7.2          3.6        6.1          2.5  Iris-virginica
110        6.5          3.2        5.1          2.0  Iris-virginica
111        6.4          2.7        5.3          1.9  Iris-virginica
112        6.8          3.0        5.5          2.1  Iris-virginica
113        5.7          2.5        5.0          2.0  Iris-virginica
114        5.8          2.8        5.1          2.4  Iris-virginica
115        6.4          3.2        5.3          2.3  Iris-virginica
116        6.5          3.0        5.5          1.8  Iris-virginica
117        7.7          3.8        6.7          2.2  Iris-virginica
118        7.7          2.6        6.9          2.3  Iris-virginica
119        6.0          2.2        5.0          1.5  Iris-virginica
120        6.9          3.2        5.7          2.3  Iris-virginica
121        5.6          2.8        4.9          2.0  Iris-virginica
122        7.7          2.8        6.7          2.0  Iris-virginica
123        6.3          2.7        4.9          1.8  Iris-virginica
124        6.7          3.3        5.7          2.1  Iris-virginica
125        7.2          3.2        6.0          1.8  Iris-virginica
126        6.2          2.8        4.8          1.8  Iris-virginica
127        6.1          3.0        4.9          1.8  Iris-virginica
128        6.4          2.8        5.6          2.1  Iris-virginica
129        7.2          3.0        5.8          1.6  Iris-virginica
130        7.4          2.8        6.1          1.9  Iris-virginica
131        7.9          3.8        6.4          2.0  Iris-virginica
132        6.4          2.8        5.6          2.2  Iris-virginica
133        6.3          2.8        5.1          1.5  Iris-virginica
134        6.1          2.6        5.6          1.4  Iris-virginica
135        7.7          3.0        6.1          2.3  Iris-virginica
136        6.3          3.4        5.6          2.4  Iris-virginica
137        6.4          3.1        5.5          1.8  Iris-virginica
138        6.0          3.0        4.8          1.8  Iris-virginica
139        6.9          3.1        5.4          2.1  Iris-virginica
140        6.7          3.1        5.6          2.4  Iris-virginica
141        6.9          3.1        5.1          2.3  Iris-virginica
142        5.8          2.7        5.1          1.9  Iris-virginica
143        6.8          3.2        5.9          2.3  Iris-virginica
144        6.7          3.3        5.7          2.5  Iris-virginica
145        6.7          3.0        5.2          2.3  Iris-virginica
146        6.3          2.5        5.0          1.9  Iris-virginica
147        6.5          3.0        5.2          2.0  Iris-virginica
148        6.2          3.4        5.4          2.3  Iris-virginica
149        5.9          3.0        5.1          1.8  Iris-virginica     sepal_len  sepal_width  petal_len  petal_width           class
0         6.3          3.3        6.0          2.5  Iris-virginica
1         5.8          2.7        5.1          1.9  Iris-virginica
2         7.1          3.0        5.9          2.1  Iris-virginica
3         6.3          2.9        5.6          1.8  Iris-virginica
4         6.5          3.0        5.8          2.2  Iris-virginica
5         7.6          3.0        6.6          2.1  Iris-virginica
6         4.9          2.5        4.5          1.7  Iris-virginica
7         7.3          2.9        6.3          1.8  Iris-virginica
8         6.7          2.5        5.8          1.8  Iris-virginica
9         7.2          3.6        6.1          2.5  Iris-virginica
10        6.5          3.2        5.1          2.0  Iris-virginica
11        6.4          2.7        5.3          1.9  Iris-virginica
12        6.8          3.0        5.5          2.1  Iris-virginica
13        5.7          2.5        5.0          2.0  Iris-virginica
14        5.8          2.8        5.1          2.4  Iris-virginica
15        6.4          3.2        5.3          2.3  Iris-virginica
16        6.5          3.0        5.5          1.8  Iris-virginica
17        7.7          3.8        6.7          2.2  Iris-virginica
18        7.7          2.6        6.9          2.3  Iris-virginica
19        6.0          2.2        5.0          1.5  Iris-virginica
20        6.9          3.2        5.7          2.3  Iris-virginica
21        5.6          2.8        4.9          2.0  Iris-virginica
22        7.7          2.8        6.7          2.0  Iris-virginica
23        6.3          2.7        4.9          1.8  Iris-virginica
24        6.7          3.3        5.7          2.1  Iris-virginica
25        7.2          3.2        6.0          1.8  Iris-virginica
26        6.2          2.8        4.8          1.8  Iris-virginica
27        6.1          3.0        4.9          1.8  Iris-virginica
28        6.4          2.8        5.6          2.1  Iris-virginica
29        7.2          3.0        5.8          1.6  Iris-virginica
30        7.4          2.8        6.1          1.9  Iris-virginica
31        7.9          3.8        6.4          2.0  Iris-virginica
32        6.4          2.8        5.6          2.2  Iris-virginica
33        6.3          2.8        5.1          1.5  Iris-virginica
34        6.1          2.6        5.6          1.4  Iris-virginica
35        7.7          3.0        6.1          2.3  Iris-virginica
36        6.3          3.4        5.6          2.4  Iris-virginica
37        6.4          3.1        5.5          1.8  Iris-virginica
38        6.0          3.0        4.8          1.8  Iris-virginica
39        6.9          3.1        5.4          2.1  Iris-virginica
40        6.7          3.1        5.6          2.4  Iris-virginica
41        6.9          3.1        5.1          2.3  Iris-virginica
42        5.8          2.7        5.1          1.9  Iris-virginica
43        6.8          3.2        5.9          2.3  Iris-virginica
44        6.7          3.3        5.7          2.5  Iris-virginica
45        6.7          3.0        5.2          2.3  Iris-virginica
46        6.3          2.5        5.0          1.9  Iris-virginica
47        6.5          3.0        5.2          2.0  Iris-virginica
48        6.2          3.4        5.4          2.3  Iris-virginica
49        5.9          3.0        5.1          1.8  Iris-virginica

In [58]:
v0 == v1

ValueError: Can only compare identically-labeled DataFrame objects

In [59]:
df.shape()

TypeError: 'tuple' object is not callable

In [60]:
type(df)

pandas.core.frame.DataFrame

In [61]:
df.shape

(150, 5)

In [62]:
df.columns

Index(['sepal_len', 'sepal_width', 'petal_len', 'petal_width', 'class'], dtype='object')

In [63]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [64]:
v0.index

Int64Index([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
            113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
            126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64')

In [65]:
v.index

RangeIndex(start=0, stop=50, step=1)

In [66]:
type(df.shape)

tuple

In [67]:
type(df.index)

pandas.core.indexes.range.RangeIndex

In [68]:
type(v0.index)

pandas.core.indexes.numeric.Int64Index

In [70]:
v0.iloc[-1:, -1:]

              class
149  Iris-virginica

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepal_len    150 non-null    float64
 1   sepal_width  150 non-null    float64
 2   petal_len    150 non-null    float64
 3   petal_width  150 non-null    float64
 4   class        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [72]:
v0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 100 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepal_len    50 non-null     float64
 1   sepal_width  50 non-null     float64
 2   petal_len    50 non-null     float64
 3   petal_width  50 non-null     float64
 4   class        50 non-null     object
dtypes: float64(4), object(1)
memory usage: 2.3+ KB

In [73]:
v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepal_len    50 non-null     float64
 1   sepal_width  50 non-null     float64
 2   petal_len    50 non-null     float64
 3   petal_width  50 non-null     float64
 4   class        50 non-null     object
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [87]:
v1.iloc[:3, -1] = np.nan

In [88]:
v1.head(10)

   sepal_len  sepal_width  petal_len  petal_width           class
0        6.3          3.3        6.0          NaN             NaN
1        5.8          2.7        5.1          NaN             NaN
2        7.1          3.0        5.9          NaN             NaN
3        6.3          2.9        5.6          1.8  Iris-virginica
4        6.5          3.0        5.8          2.2  Iris-virginica
5        7.6          3.0        6.6          2.1  Iris-virginica
6        4.9          2.5        4.5          1.7  Iris-virginica
7        7.3          2.9        6.3          1.8  Iris-virginica
8        6.7          2.5        5.8          1.8  Iris-virginica
9        7.2          3.6        6.1          2.5  Iris-virginica

In [89]:
v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepal_len    50 non-null     float64
 1   sepal_width  50 non-null     float64
 2   petal_len    50 non-null     float64
 3   petal_width  47 non-null     float64
 4   class        47 non-null     object
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [92]:
type(v1['sepal_width'])

pandas.core.series.Series

In [93]:
v2 = v1['sepal_width']

In [94]:
v2.head(10)

0    3.3
1    2.7
2    3.0
3    2.9
4    3.0
5    3.0
6    2.5
7    2.9
8    2.5
9    3.6
Name: sepal_width, dtype: float64

In [96]:
v2.values

array([3.3, 2.7, 3. , 2.9, 3. , 3. , 2.5, 2.9, 2.5, 3.6, 3.2, 2.7, 3. ,
       2.5, 2.8, 3.2, 3. , 3.8, 2.6, 2.2, 3.2, 2.8, 2.8, 2.7, 3.3, 3.2,
       2.8, 3. , 2.8, 3. , 2.8, 3.8, 2.8, 2.8, 2.6, 3. , 3.4, 3.1, 3. ,
       3.1, 3.1, 3.1, 2.7, 3.2, 3.3, 3. , 2.5, 3. , 3.4, 3. ])

In [97]:
type(v2.values)

numpy.ndarray

In [98]:
v.values

array([[6.3, 3.3, 6.0, 2.5, 'Iris-virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Iris-virginica'],
       [7.1, 3.0, 5.9, 2.1, 'Iris-virginica'],
       [6.3, 2.9, 5.6, 1.8, 'Iris-virginica'],
       [6.5, 3.0, 5.8, 2.2, 'Iris-virginica'],
       [7.6, 3.0, 6.6, 2.1, 'Iris-virginica'],
       [4.9, 2.5, 4.5, 1.7, 'Iris-virginica'],
       [7.3, 2.9, 6.3, 1.8, 'Iris-virginica'],
       [6.7, 2.5, 5.8, 1.8, 'Iris-virginica'],
       [7.2, 3.6, 6.1, 2.5, 'Iris-virginica'],
       [6.5, 3.2, 5.1, 2.0, 'Iris-virginica'],
       [6.4, 2.7, 5.3, 1.9, 'Iris-virginica'],
       [6.8, 3.0, 5.5, 2.1, 'Iris-virginica'],
       [5.7, 2.5, 5.0, 2.0, 'Iris-virginica'],
       [5.8, 2.8, 5.1, 2.4, 'Iris-virginica'],
       [6.4, 3.2, 5.3, 2.3, 'Iris-virginica'],
       [6.5, 3.0, 5.5, 1.8, 'Iris-virginica'],
       [7.7, 3.8, 6.7, 2.2, 'Iris-virginica'],
       [7.7, 2.6, 6.9, 2.3, 'Iris-virginica'],
       [6.0, 2.2, 5.0, 1.5, 'Iris-virginica'],
       [6.9, 3.2, 5.7, 2.3, 'Iris-virginica'],
       [5.6, 2.8, 4.9, 2.0, 'Iris-virginica'],
       [7.7, 2.8, 6.7, 2.0, 'Iris-virginica'],
       [6.3, 2.7, 4.9, 1.8, 'Iris-virginica'],
       [6.7, 3.3, 5.7, 2.1, 'Iris-virginica'],
       [7.2, 3.2, 6.0, 1.8, 'Iris-virginica'],
       [6.2, 2.8, 4.8, 1.8, 'Iris-virginica'],
       [6.1, 3.0, 4.9, 1.8, 'Iris-virginica'],
       [6.4, 2.8, 5.6, 2.1, 'Iris-virginica'],
       [7.2, 3.0, 5.8, 1.6, 'Iris-virginica'],
       [7.4, 2.8, 6.1, 1.9, 'Iris-virginica'],
       [7.9, 3.8, 6.4, 2.0, 'Iris-virginica'],
       [6.4, 2.8, 5.6, 2.2, 'Iris-virginica'],
       [6.3, 2.8, 5.1, 1.5, 'Iris-virginica'],
       [6.1, 2.6, 5.6, 1.4, 'Iris-virginica'],
       [7.7, 3.0, 6.1, 2.3, 'Iris-virginica'],
       [6.3, 3.4, 5.6, 2.4, 'Iris-virginica'],
       [6.4, 3.1, 5.5, 1.8, 'Iris-virginica'],
       [6.0, 3.0, 4.8, 1.8, 'Iris-virginica'],
       [6.9, 3.1, 5.4, 2.1, 'Iris-virginica'],
       [6.7, 3.1, 5.6, 2.4, 'Iris-virginica'],
       [6.9, 3.1, 5.1, 2.3, 'Iris-virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Iris-virginica'],
       [6.8, 3.2, 5.9, 2.3, 'Iris-virginica'],
       [6.7, 3.3, 5.7, 2.5, 'Iris-virginica'],
       [6.7, 3.0, 5.2, 2.3, 'Iris-virginica'],
       [6.3, 2.5, 5.0, 1.9, 'Iris-virginica'],
       [6.5, 3.0, 5.2, 2.0, 'Iris-virginica'],
       [6.2, 3.4, 5.4, 2.3, 'Iris-virginica'],
       [5.9, 3.0, 5.1, 1.8, 'Iris-virginica']], dtype=object)

In [99]:
type(v.values)

numpy.ndarray

In [101]:
v["fees"] = 0.0

In [102]:
v

    sepal_len  sepal_width  petal_len  petal_width           class  fees
0         6.3          3.3        6.0          2.5  Iris-virginica   0.0
1         5.8          2.7        5.1          1.9  Iris-virginica   0.0
2         7.1          3.0        5.9          2.1  Iris-virginica   0.0
3         6.3          2.9        5.6          1.8  Iris-virginica   0.0
4         6.5          3.0        5.8          2.2  Iris-virginica   0.0
5         7.6          3.0        6.6          2.1  Iris-virginica   0.0
6         4.9          2.5        4.5          1.7  Iris-virginica   0.0
7         7.3          2.9        6.3          1.8  Iris-virginica   0.0
8         6.7          2.5        5.8          1.8  Iris-virginica   0.0
9         7.2          3.6        6.1          2.5  Iris-virginica   0.0
10        6.5          3.2        5.1          2.0  Iris-virginica   0.0
11        6.4          2.7        5.3          1.9  Iris-virginica   0.0
12        6.8          3.0        5.5          2.1  Iris-virginica   0.0
13        5.7          2.5        5.0          2.0  Iris-virginica   0.0
14        5.8          2.8        5.1          2.4  Iris-virginica   0.0
15        6.4          3.2        5.3          2.3  Iris-virginica   0.0
16        6.5          3.0        5.5          1.8  Iris-virginica   0.0
17        7.7          3.8        6.7          2.2  Iris-virginica   0.0
18        7.7          2.6        6.9          2.3  Iris-virginica   0.0
19        6.0          2.2        5.0          1.5  Iris-virginica   0.0
20        6.9          3.2        5.7          2.3  Iris-virginica   0.0
21        5.6          2.8        4.9          2.0  Iris-virginica   0.0
22        7.7          2.8        6.7          2.0  Iris-virginica   0.0
23        6.3          2.7        4.9          1.8  Iris-virginica   0.0
24        6.7          3.3        5.7          2.1  Iris-virginica   0.0
25        7.2          3.2        6.0          1.8  Iris-virginica   0.0
26        6.2          2.8        4.8          1.8  Iris-virginica   0.0
27        6.1          3.0        4.9          1.8  Iris-virginica   0.0
28        6.4          2.8        5.6          2.1  Iris-virginica   0.0
29        7.2          3.0        5.8          1.6  Iris-virginica   0.0
30        7.4          2.8        6.1          1.9  Iris-virginica   0.0
31        7.9          3.8        6.4          2.0  Iris-virginica   0.0
32        6.4          2.8        5.6          2.2  Iris-virginica   0.0
33        6.3          2.8        5.1          1.5  Iris-virginica   0.0
34        6.1          2.6        5.6          1.4  Iris-virginica   0.0
35        7.7          3.0        6.1          2.3  Iris-virginica   0.0
36        6.3          3.4        5.6          2.4  Iris-virginica   0.0
37        6.4          3.1        5.5          1.8  Iris-virginica   0.0
38        6.0          3.0        4.8          1.8  Iris-virginica   0.0
39        6.9          3.1        5.4          2.1  Iris-virginica   0.0
40        6.7          3.1        5.6          2.4  Iris-virginica   0.0
41        6.9          3.1        5.1          2.3  Iris-virginica   0.0
42        5.8          2.7        5.1          1.9  Iris-virginica   0.0
43        6.8          3.2        5.9          2.3  Iris-virginica   0.0
44        6.7          3.3        5.7          2.5  Iris-virginica   0.0
45        6.7          3.0        5.2          2.3  Iris-virginica   0.0
46        6.3          2.5        5.0          1.9  Iris-virginica   0.0
47        6.5          3.0        5.2          2.0  Iris-virginica   0.0
48        6.2          3.4        5.4          2.3  Iris-virginica   0.0
49        5.9          3.0        5.1          1.8  Iris-virginica   0.0

In [103]:
d={"name":['Alan', "Bob", "Charlie", "Daniel"], "gender": 'm'}
df2 = pd.DataFrame(d)

In [104]:
df2

      name gender
0     Alan      m
1      Bob      m
2  Charlie      m
3   Daniel      m

In [107]:
r=requests.get(r'http://www.sidc.be/silso/INFO/totssninfocsv.php')
with open('silso.csv', 'w') as f:
    f.write(r.text)

In [108]:
! head silso.csv

1818,01,01,1818.004, -1,1
1818,01,02,1818.007, -1,1
1818,01,03,1818.010, -1,1
1818,01,04,1818.012, -1,1
1818,01,05,1818.015, -1,1
1818,01,06,1818.018, -1,1
1818,01,07,1818.021, -1,1
1818,01,08,1818.023, 39,1
1818,01,09,1818.026, -1,1
1818,01,10,1818.029, -1,1